<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coltek.cims">

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan|adjustResize">
        <activity
            android:name=".ui.splashscreen.Splashscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:alwaysRetainTaskState="true" />
        <activity
            android:name=".views.NullActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.registration.RegistrationActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.resetpassword.ResetPasswordActivity" />
    </application>

</manifest>